.block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 29px;
    background-color: var(--back);
    text-align: center;
}

.block1 h3 {
    margin-top: 141px;
    font-size: 19px;
    line-height: 1.6;
    color: #FED097;
}

.block1 p {
    width: 850px;
    margin: 0 auto 135px;
    font-size: 36px;
    line-height: 1.3;
    color: #ffffff;
}